<h3>All Courts</h3>

<%= link_to "Court with Most Games", court_games_path(@court) %>

<br><br>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
  </tr>
  <% @courts.each do |court| %>
    <tr>
      <td><%= link_to court.name, court_games_path(court) %></td>
      <td><%= court.address %></td>
    </tr>
  <% end %>
</table>

<br><br>

<%= link_to "Add New Court", new_court_path %>