<center>
    <h3><%= @player.name %>'s Home Page</h3>

    <h4>Your Games</h4>
    <% if @player.games %>
        <% @player.games.each do |game| %>
            <%= game.court.name %> -- <%= game.gametime %><br><br>
        <% end %>
    <% else %>
        <p>No Scheduled Games</p>
    <% end %>


</center>